<!DOCTYPE html>
<html>
<head>
    <title>Drinks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="drink-bg">

<div class="container">
    <div class="card">
        <h2>Select Drinks 🥤</h2>

        <a href="/order?item=Water"><button>Water</button></a>
        <a href="/order?item=Coca%20Cola"><button>Coca Cola</button></a>
        <a href="/order?item=Pepsi"><button>Pepsi</button></a>
        <a href="/order?item=Sprite"><button>Sprite</button></a>
        <a href="/order?item=Fanta"><button>Fanta</button></a>
        <a href="/order?item=Orange%20Juice"><button>Orange Juice</button></a>
        <a href="/order?item=Mango%20Juice"><button>Mango Juice</button></a>
        <a href="/order?item=Apple%20Juice"><button>Apple Juice</button></a>
        <a href="/order?item=Milkshake"><button>Milkshake</button></a>
        <a href="/order?item=Cold%20Coffee"><button>Cold Coffee</button></a>
        <a href="/order?item=Tea"><button>Tea</button></a>
        <a href="/order?item=Coffee"><button>Coffee</button></a>
        <a href="/order?item=Lassi"><button>Lassi</button></a>
        <a href="/order?item=Buttermilk"><button>Buttermilk</button></a>
        <a href="/order?item=Energy%20Drink"><button>Energy Drink</button></a>
        <a href="/order?item=Protein%20Shake"><button>Protein Shake</button></a>
        <a href="/order?item=Lemonade"><button>Lemonade</button></a>
        <a href="/order?item=Iced%20Tea"><button>Iced Tea</button></a>
        <a href="/order?item=Smoothie"><button>Smoothie</button></a>
        <a href="/order?item=Chocolate%20Shake"><button>Chocolate Shake</button></a>

        <br><br>
        <a href="/options"><button>⬅ Back</button></a>

    </div>
</div>

</body>
</html>