<!DOCTYPE html>
<html>
<head>
    <title>Fast Food</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="fast-bg">

<div class="container">
    <div class="card">
        <h2>Select Fast Food 🍔</h2>

        <a href="/order?item=Burger"><button>Burger</button></a>
        <a href="/order?item=Pizza"><button>Pizza</button></a>
        <a href="/order?item=French%20Fries"><button>French Fries</button></a>
        <a href="/order?item=Sandwich"><button>Sandwich</button></a>
        <a href="/order?item=Hot%20Dog"><button>Hot Dog</button></a>
        <a href="/order?item=Noodles"><button>Noodles</button></a>
        <a href="/order?item=Manchurian"><button>Manchurian</button></a>
        <a href="/order?item=Spring%20Rolls"><button>Spring Rolls</button></a>
        <a href="/order?item=Wrap"><button>Wrap</button></a>
        <a href="/order?item=Shawarma"><button>Shawarma</button></a>
        <a href="/order?item=Pasta"><button>Pasta</button></a>
        <a href="/order?item=Tacos"><button>Tacos</button></a>
        <a href="/order?item=Nachos"><button>Nachos</button></a>
        <a href="/order?item=Popcorn"><button>Popcorn</button></a>
        <a href="/order?item=Fried%20Chicken"><button>Fried Chicken</button></a>
        <a href="/order?item=Cheese%20Balls"><button>Cheese Balls</button></a>
        <a href="/order?item=Momos"><button>Momos</button></a>
        <a href="/order?item=Garlic%20Bread"><button>Garlic Bread</button></a>
        <a href="/order?item=Club%20Sandwich"><button>Club Sandwich</button></a>
        <a href="/order?item=Paneer%20Roll"><button>Paneer Roll</button></a>

        <br><br>
        <a href="/options"><button>⬅ Back</button></a>

    </div>
</div>

</body>
</html>