<!DOCTYPE html>
<html>
<head>
    <title>Fruits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="fruit-bg">


<div class="container">
    <div class="card">
        <h2>Select Fruits 🍎</h2>

        <a href="/order?item=Apple"><button>Apple</button></a>
        <a href="/order?item=Banana"><button>Banana</button></a>
        <a href="/order?item=Mango"><button>Mango</button></a>
        <a href="/order?item=Orange"><button>Orange</button></a>
        <a href="/order?item=Grapes"><button>Grapes</button></a>
        <a href="/order?item=Pineapple"><button>Pineapple</button></a>
        <a href="/order?item=Watermelon"><button>Watermelon</button></a>
        <a href="/order?item=Papaya"><button>Papaya</button></a>
        <a href="/order?item=Strawberry"><button>Strawberry</button></a>
        <a href="/order?item=Kiwi"><button>Kiwi</button></a>
        <a href="/order?item=Pomegranate"><button>Pomegranate</button></a>
        <a href="/order?item=Guava"><button>Guava</button></a>
        <a href="/order?item=Chikoo"><button>Chikoo</button></a>
        <a href="/order?item=Lychee"><button>Lychee</button></a>
        <a href="/order?item=Dragon%20Fruit"><button>Dragon Fruit</button></a>
        <a href="/order?item=Peach"><button>Peach</button></a>
        <a href="/order?item=Pear"><button>Pear</button></a>
        <a href="/order?item=Plum"><button>Plum</button></a>
        <a href="/order?item=Blueberry"><button>Blueberry</button></a>
        <a href="/order?item=Blackberry"><button>Blackberry</button></a>

        <br><br>
        <a href="/options"><button>⬅ Back</button></a>

    </div>
</div>

</body>
</html>