<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Welcome Back 👋</h2>

        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="text" name="phone" placeholder="Enter Phone Number" required>

            <button type="submit">Login</button>
        </form>

        <p style="margin-top:15px;">New user?</p>

        <form action="/" method="get">
            <button type="submit">Create Account</button>
        </form>

    </div>
</div>

</body>
</html>