<!DOCTYPE html>
<html>
<head>
    <title>Meals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="meal-bg">

<div class="container">
    <div class="card">
        <h2>Select Meal 🍛</h2>

        <!-- MEALS LIST -->
        <a href="/order?item=Paneer%20Butter%20Masala"><button>Paneer Butter Masala</button></a>
        <a href="/order?item=Chicken%20Biryani"><button>Chicken Biryani</button></a>
        <a href="/order?item=Dal%20Tadka"><button>Dal Tadka</button></a>
        <a href="/order?item=Rajma%20Chawal"><button>Rajma Chawal</button></a>
        <a href="/order?item=Veg%20Pulao"><button>Veg Pulao</button></a>
        <a href="/order?item=Butter%20Chicken"><button>Butter Chicken</button></a>
        <a href="/order?item=Chole%20Bhature"><button>Chole Bhature</button></a>
        <a href="/order?item=Fried%20Rice"><button>Fried Rice</button></a>
        <a href="/order?item=Jeera%20Rice"><button>Jeera Rice</button></a>
        <a href="/order?item=Kadhi%20Chawal"><button>Kadhi Chawal</button></a>
        <a href="/order?item=Palak%20Paneer"><button>Palak Paneer</button></a>
        <a href="/order?item=Matar%20Paneer"><button>Matar Paneer</button></a>
        <a href="/order?item=Egg%20Curry"><button>Egg Curry</button></a>
        <a href="/order?item=Fish%20Curry"><button>Fish Curry</button></a>
        <a href="/order?item=Chicken%20Curry"><button>Chicken Curry</button></a>
        <a href="/order?item=Veg%20Thali"><button>Veg Thali</button></a>
        <a href="/order?item=Non%20Veg%20Thali"><button>Non Veg Thali</button></a>
        <a href="/order?item=Masala%20Dosa"><button>Masala Dosa</button></a>
        <a href="/order?item=Plain%20Dosa"><button>Plain Dosa</button></a>
        <a href="/order?item=Idli%20Sambar"><button>Idli Sambar</button></a>
        <a href="/order?item=Upma"><button>Upma</button></a>
        <a href="/order?item=Poha"><button>Poha</button></a>
        <a href="/order?item=Paratha%20with%20Curd"><button>Paratha with Curd</button></a>
        <a href="/order?item=Aloo%20Paratha"><button>Aloo Paratha</button></a>
        <a href="/order?item=Stuffed%20Naan"><button>Stuffed Naan</button></a>
        <a href="/order?item=Roti%20Sabzi"><button>Roti Sabzi</button></a>
        <a href="/order?item=Dal%20Makhani"><button>Dal Makhani</button></a>
        <a href="/order?item=Paneer%20Bhaji"><button>Paneer Bhaji</button></a>
        <a href="/order?item=Mix%20Veg"><button>Mix Veg</button></a>
        <a href="/order?item=Veg%20Korma"><button>Veg Korma</button></a>

        <br><br>
        
        <a href="/options"><button>⬅ Back</button></a>

    </div>
</div>

</body>
</html>