<!DOCTYPE html>
<html>
<head>
    <title>Food Options</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="options-bg">

<div class="container">
    <div class="card">
        <h2>Select Category 🍽️</h2>

        <a href="/meal"><button>Meals 🍛</button></a>
        <a href="/vegetables"><button>Vegetables 🥦</button></a>
        <a href="/fastfood"><button>Fast Food 🍔</button></a>
        <a href="/fruits"><button>Fruits 🍎</button></a>
        <a href="/drinks"><button>Drinks 🥤</button></a>

    </div>
</div>

</body>
</html>