<!DOCTYPE html>
<html>
<head>
    <title>Order Food</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="options-bg">

<div class="container">
    <div class="card">
        <h2>Order Your Food 🍔</h2>

        <form action="/place_order" method="POST">
            
            <!-- 🔥 AUTO FILLED ITEM -->
            <input type="text" name="Item" 
                   value="{{ item if item else '' }}" 
                   placeholder="Food Item" required>

            <input type="number" name="quantity" placeholder="quantity" required>

            <input type="text" name="address" placeholder="Address" required>

            <button type="submit">Place Order</button>
        </form>

        <br>
        <a href="/options"><button>⬅ Back</button></a>

    </div>
</div>

</body>
</html>