<!DOCTYPE html>
<html>
<head>
    <title>Order Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <div class="card success-card">

        <h2>Order Placed Successfully ✅</h2>
        <p>Your food is on the way 🚚</p>

        <!-- BACK TO OPTIONS -->
        <a href="/options">
            <button class="home-btn">Order More 🍽️</button>
        </a>

        <!-- LOGOUT (optional) -->
        <a href="/logout">
            <button style="margin-top:10px; background:red;">Logout</button>
        </a>

    </div>
</div>

</body>
</html>