<!DOCTYPE html>
<html>
<head>
    <title>Vegetables</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="veg-bg">
    

<div class="container">
    <div class="card">
        <h2>Select Vegetables 🥦</h2>

        <a href="/order?item=Potato"><button>Potato</button></a>
        <a href="/order?item=Tomato"><button>Tomato</button></a>
        <a href="/order?item=Onion"><button>Onion</button></a>
        <a href="/order?item=Carrot"><button>Carrot</button></a>
        <a href="/order?item=Spinach"><button>Spinach</button></a>
        <a href="/order?item=Cauliflower"><button>Cauliflower</button></a>
        <a href="/order?item=Broccoli"><button>Broccoli</button></a>
        <a href="/order?item=Cabbage"><button>Cabbage</button></a>
        <a href="/order?item=Brinjal"><button>Brinjal</button></a>
        <a href="/order?item=Capsicum"><button>Capsicum</button></a>
        <a href="/order?item=Peas"><button>Peas</button></a>
        <a href="/order?item=Cucumber"><button>Cucumber</button></a>
        <a href="/order?item=Pumpkin"><button>Pumpkin</button></a>
        <a href="/order?item=Beetroot"><button>Beetroot</button></a>
        <a href="/order?item=Radish"><button>Radish</button></a>
        <a href="/order?item=Ladies%20Finger"><button>Ladies Finger</button></a>
        <a href="/order?item=Bitter%20Gourd"><button>Bitter Gourd</button></a>
        <a href="/order?item=Bottle%20Gourd"><button>Bottle Gourd</button></a>
        <a href="/order?item=Sweet%20Corn"><button>Sweet Corn</button></a>
        <a href="/order?item=Green%20Beans"><button>Green Beans</button></a>

        <br><br>
        <a href="/options"><button>⬅ Back</button></a>

    </div>
</div>

</body>
</html>